<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Energy Monitoring System</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/tables.css" />
    </head>
    <body>
        <div class="home-page">
            <img
                src="/static/images/home.svg"
                alt="Home Page"
                style="scale: 1.5; margin: 0.5em 0.5em 0 0.5em; cursor: pointer"
                onclick="window.location.href='/home'"
            />
        </div>
        <h1>Energy Usage Page</h1>
        <div class="table-container">
            <table>
                <tr>
                    <th>Equipment ID</th>
                    <th>Equipment Name</th>
                    <th>Energy Consumed</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row.EquipmentID }}</td>
                    <td>{{ row.EquipmentName }}</td>
                    <td>{{ row.EnergyConsumed }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
