<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Energy Monitoring System</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/equip_detail.css" />
    </head>
    <body>
        <div class="home-page">
            <img
                src="/static/images/home.svg"
                alt="Home Page"
                style="scale: 1.5; margin: 0.5em 0.5em 0 0.5em; cursor: pointer"
                onclick="window.location.href='/home'"
            />
        </div>
        <h1>EquipmentID : {{ equipment.EquipmentID }}</h1>
        <div class="equip-container">
            <div class="equip-info">
                <div>Equipment Name : {{ equipment.EquipmentName }}</div>
                <div>Power Rating : {{ equipment.PowerRating }}</div>
                <div>
                    Manufacturing Date : {{ equipment.ManufacturingDate }}
                </div>
                <div>Company ID : {{ equipment.CompanyID }}</div>
            </div>
            <div class="options">
                <div class="add-operator">
                    <div class="add-operator-title">Operator ID:</div>
                    <form method="POST">
                        <select class= "operator-option" name="OperatorID">
                            <option value="" selected disabled hidden>-- Select an OperatorID --</option>
                            {% for operator_id in operators %}
                                <option value="{{ operator_id }}">{{ operator_id }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="add-operator-button">Add Operator</button>
                    </form>
                </div>
                <button
                    class="add-log"
                    onclick="window.location.href='/equipment_{{ equipment.EquipmentID }}/add_log'"
                >
                    Add Log
                </button>
            </div>
        </div>
    </body>
</html>
