<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Energy Monitoring System</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="home-page">
            <img
                src="/static/images/home.svg"
                alt="Home Page"
                style="scale: 1.5; margin: 0.5em 0.5em 0 0.5em; cursor: pointer"
                onclick="window.location.href='/home'"
            />
            <button class="check-logs" onclick="window.location.href='/logs'">
                Check Logs
            </button>
        </div>
        <h1>Equipment Overview</h1>
        <div class="data-container">
            {% for equipment in equipments %}
            <div
                class="cards"
                onclick="window.location.href='/equipment_' + '{{ equipment.EquipmentID }}'"
            >
                {{ equipment.EquipmentName }}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
