.table-container {
    max-width: 100%;
    width: min(900px, 100% - 3rem);
    border-radius: 1em;
    margin-inline: auto;
    margin-bottom: 6rem;
    overflow: auto;
    height: 65vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: hsl(0 0% 93%);
    border-radius: 1em;
}

caption, th, td {
    padding: 1rem;
}

caption, th {
    text-align: left;
}

th {
    display: sticky;
    background: hsl(0 0% 0%);
    color: hsl(0, 0%, 86%);
}

tr:nth-of-type(2n) {
    background: hsl(0 0% 90%)
}
