<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Monitoring System</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <div class="home-page"><img src="/static/images/home.svg" alt="Home Page" style="scale: 1.5; margin: 0.5em 0.5em 0 0.5em; cursor: pointer;" onclick="window.location.href='/'"></div>
    <h1>ADD NEW</h1>
    <div class="container">
        <div>
            <button onclick="window.location.href='/company'">New Company</button>
        </div>
        <div>
            <button onclick="window.location.href='/equipments'">New Equipment</button>
        </div>
        <div>
            <button onclick="window.location.href='/operators'">New Operator</button>
        </div>
    </div>
    <style>
        .container > * {
            margin: 0 0 0.5em 0;
        }
    </style>
</body>
</html>