<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Monitoring System</title>
</head>
<body>
    <h1>ADD NEW</h1>
    <div class="container">
        <div>
            <button onclick="window.location.href='/company'">New Company</button>
        </div>
        <div>
            <button onclick="window.location.href='/equipments'">New Equipment</button>
        </div>
        <div>
            <button onclick="window.location.href='/operators'">New Operator</button>
        </div>
    </div>
</body>
</html>