<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Monitoring System</title>
</head>
<body>
    <h1>Equipments Data Page</h1>
    <table>
        <tr>
            <th>EquipmentID</th>
            <th>EquipmentName</th>
            <th>PowerRating</th>
            <th>ManufacturingDate</th>
            <th>CompanyID</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.EquipmentID }}</td>
            <td>{{ row.EquipmentName }}</td>
            <td>{{ row.PowerRating }}</td>
            <td>{{ row.ManufacturingDate }}</td>
            <td>{{ row.CompanyID }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
