<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Monitoring System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="bg-image"></div>
    <h1 style="margin-top: 3rem;">Energy Monitoring System</h1>
    <div class="home-nav">
        <form class="search-bar" method="GET" action="/search_equipment">
            <div>
                <input type="text" name="equipment_name" placeholder="Search for Equipment">
                <button type="submit" name="search-button">
                    <img src="/static/images/search.svg" alt="Search icon">
                </button>
            </div>
        </form>
        <button class="add-new" onclick="window.location.href='/add_new'">ADD NEW</button>
    </div>
    <div class="dashboard">
        <div onclick="window.location.href='/equipment_overview'">Equipment Overview</div>
        <div onclick="window.location.href='/display_operators'">Operators</div>
        <div onclick="window.location.href='/display_energy_usage'">Energy Usage</div>
        <div onclick="window.location.href='/display_companies'">List of Companies</div>
    </div>
</body>
</html>
