<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Monitoring System</title>
    <script src="/static/js/home.js"></script>
</head>
<body>
    <h1>Welcome to Energy Monitoring System</h1>
    <div class="search-bar">
        <input type="text" name="Search" placeholder="Search for Equipment">
        <button class="add-new" onclick="window.location.href='/add_new'">Add new</button>
    </div>
    <div class="container">
        <div>Equipment Overview</div>
        <div>Operators</div>
        <div>Energy Usage</div>
        <div>List of Companies</div>
    </div>
</body>
</html>
