<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Monitoring System</title>
    <script src="/static/js/home.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Welcome to Energy Monitoring System</h1>
    <form method="GET" action="/search_equipment">
        <div class="search-bar">
            <input type="text" name="equipment_name" placeholder="Search for Equipment">
            <button type="submit" class="add-new">Search</button>
        </div>
    </form>
    <button class="add-new" onclick="window.location.href='/add_new'">Add new</button>
    <div class="dashboard">
        <div onclick="window.location.href='/equipment_overview'">Equipment Overview</div>
        <div>Operators</div>
        <div>Energy Usage</div>
        <div>List of Companies</div>
    </div>
</body>
</html>
