<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Energy Monitoring System</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/forms.css" />
    </head>
    <body>
        <div class="home-page">
            <img
                src="/static/images/home.svg"
                alt="Home Page"
                style="scale: 1.5; margin: 0.5em 0.5em 0 0.5em; cursor: pointer"
                onclick="window.location.href='/home'"
            />
        </div>
        <div class="main-container">
            <h1>OperatorID: {{latest_operator_id}}</h1>
            <div class="input-container">
                <form class="wrapper" action="/operators" method="POST">
                    <div class="inner-wrapper">
                        <p>OperatorName</p>
                        <input
                            type="text"
                            name="OperatorName"
                            placeholder="Enter Operator Name"
                        />
                        <p>Occupation</p>
                        <input
                            type="text"
                            name="Occupation"
                            placeholder="Enter Occupation"
                        />
                        <p>PhoneNumber</p>
                        <input
                            type="number"
                            name="PhoneNumber"
                            placeholder="Enter Phone Number"
                        />
                        <p>CompanyID</p>
                        <select name="CompanyID">
                            <option value="" selected disabled hidden place>
                                Select a CompanyID
                            </option>
                            {% for company_id in companies %}
                            <option value="{{ company_id }}">
                                {{ company_id }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--DUMB DROPDOWN WORKS NOW-->
                    <p>
                        <input
                            class="submit-button"
                            type="submit"
                            value="Submit"
                        />
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>
