<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Energy Monitoring System</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="home-page">
            <img
                src="/static/images/home.svg"
                alt="Home Page"
                style="scale: 1.5; margin: 0.5em 0.5em 0 0.5em; cursor: pointer"
                onclick="window.location.href='/'"
            />
        </div>
        <div
            style="
                height: 80vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                place-content: center;
            "
        >
            <img
                src="/static/images/bird.svg"
                alt="Search not found"
                style="scale: 3; margin-bottom: 1em"
            />
            <h3>Equipment not found!</h3>
        </div>
    </body>
</html>
